#projects {
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin-top: 100px;
    padding-top: 100px;
}

.project {
    display: flex;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: calc(100% - 350px);
    padding: 0 50px 0 0;
}

.project-description h3 {
    font-size: 30px;
}

.project-illustration {
    width: 500px;
    transition: scale 500ms ease;
}

.project-illustration:hover {
    scale: 1.1;
}

.project-illustration img {
    filter: drop-shadow(10px 20px 30px var(--black));
}

.project-illustration + .project-description {
    text-align: right;
    padding: 0 0 0 50px;
}
