@media screen and (max-width: 1000px) {
    #recommendations {
        margin-top: 50px;
        padding-top: 50px;
    }

    .recommendation {
        padding: 20px;
    }

    .recommendation-content {
        font-size: 16px;
        height: 200px;
        overflow: auto;
    }

    .recommendation-content::-webkit-scrollbar {
        display: none;
    }

    .recommendation-tools {
        position: relative;
        top: unset;
        right: unset;
        justify-content: center;
        margin-bottom: 30px;
    }

    .recommendation-toolbar {
        width: 100%;
    }

    .recommendation-toolbar img {
        translate: 0 !important;
    }

    .go-to-linkedin-link {
        position: relative;
        translate: 0;
        left: 0;
    }
    .go-to-linkedin-link button {
        margin-top: 50px;
        width: 100%;
        font-size: 16px;
    }
}
