@media screen and (max-width: 1000px) {
    #tools {
        /*--size: 500px;*/
        padding: 0;
    }

    .tools-container {
        margin-top: 25px;
    }

    .tools-content {
        gap: 75px;
    }

    .tools-row {
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px calc(var(--size) * .1);
    }

    .tool {
        width: 50px;
    }
    .tool.wide {
        width: 100px;
    }

    .tools-spinner-wrapper {
        display: none;
    }
}
