/* MAIN */
main {
    position: relative;
    padding: 0 max(calc((100vw - 1270px) / 2), 50px) 300px;
}

/* HEADER */
header {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 50px;
    animation: hidden 500ms, header-anim 1s ease 500ms;
}

header nav {
    display: flex;
    gap: 40px;
    width: fit-content;
    margin-left: auto;
}

header nav a {
    text-decoration: none;
    transition: color 200ms ease;
}

header nav a:hover {
    color: var(--alt);
}

/* FOOTER */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
    background: var(--black);
    opacity: .8;
}

/* OTHER */
h1, h2 {
    background: var(--title-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

h2 {
    margin: auto;
    font-weight: 600;
    font-size: 30px;
}

section {
    position: relative;
}

img {
    width: 100%;
}

.reveal {
    transition: all 1s ease;
}

.reveal:not(.active) {
    opacity: 0;
    translate: 0 100px;
}

/* ANIMATIONS */
@keyframes hidden {
    from {
        opacity: 0;
        translate: -50%;
    }
    to {
        opacity: 0;
        translate: -50%;
    }
}

@keyframes header-anim {
    from {
        opacity: 0;
        translate: 0 -30px;
    }
}
