:root {
    --white: #fff;
    --alt: #2190B4;
    --tint: #D3385D;
    --dark-tint: #9E2643;
    --dark: #153360;
    --black: #030303;
    --recommendation-timer: 15000ms;
    --bg-gradient: linear-gradient(140deg, #040810 0%, #000C38 100%);
    --title-gradient: linear-gradient(90deg, #83ADFF 0%, #B398FF 100%);
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-image: var(--bg-gradient);
    height: 100vh;
}

body,
a {
    color: var(--white);
}
